In [ ]:
import pandas as pd

# ***Pandas Common Queries like SQL***

**TABLE in SQL**

In pandas dataframe is similar to table in SQL

# **Retrieving Data ( SQL: SELECT)**

In [ ]:
#Example :
#Given employee table in 'employee' dataframe.
employee = pd.read_csv("employee.csv")
#Show only empid column

print(employee['empid'])

#Show empid and name

print(employee[['empid','name']])

0    123
1    243
2    212
3    122
Name: empid, dtype: int64
   empid name
0    123  abc
1    243  pqr
2    212  xyz
3    122  def

In [ ]:
print(employee)

   empid name  salary  deptid  managerid
0    123  abc  100000       1        123
1    243  pqr   50000       2        243
2    212  xyz   40000       1        123
3    122  def   35000       2        243

# **Filtering Data (SQL: WHEREclause)**

In [ ]:
#Example:
#Select all employees whoes salary is greater than equal to 50000

employee.loc[ employee['salary'] >= 50000 , : ]

   empid name  salary
0    123  abc  100000
1    243  pqr   50000

In [ ]:
employee.loc[employee['empid'] <150 , : ]

   empid name  salary  deptid  managerid
0    123  abc  100000       1        123
3    122  def   35000       2        243

In [ ]:
employee.loc[ (employee['salary'] >= 50000) &
             (employee['empid'] < 150), : ]

   empid name  salary  deptid  managerid
0    123  abc  100000       1        123

In [ ]:
employee.loc[ (employee['deptid'] == 2) |
             (employee['managerid'] ==123), : ]

   empid name  salary  deptid  managerid
0    123  abc  100000       1        123
1    243  pqr   50000       2        243
2    212  xyz   40000       1        123
3    122  def   35000       2        243

# **Sorting Data (SQL:ORDER BY)**

In [ ]:
# example: Sort employees by their name

print(employee.sort_values(by=['name'],ascending=False))

#example: Sort employees by their name and empid

print(employee.sort_values(by=['empid','name']))

   empid name  salary  deptid  managerid
2    212  xyz   40000       1        123
1    243  pqr   50000       2        243
3    122  def   35000       2        243
0    123  abc  100000       1        123
   empid name  salary  deptid  managerid
3    122  def   35000       2        243
0    123  abc  100000       1        123
2    212  xyz   40000       1        123
1    243  pqr   50000       2        243

# **Rename a column**

In [ ]:
# Example change 'name' column to 'ename' in employee
# use rename function and give dictionary as parameter
employee.rename(columns={'name':'ename'}, inplace=True)

In [ ]:
print(employee)

   empid ename  salary  deptid  managerid
0    123   abc  100000       1        123
1    243   pqr   50000       2        243
2    212   xyz   40000       1        123
3    122   def   35000       2        243

# **Apply function on a column**

In [ ]:
#Example: Given data of students in students dataframe, find square root of every value in
#salary column and store in new column sq_salary

import math
employee['sq_salary'] = employee['salary'].apply(math.sqrt)
print(employee)

   empid ename  salary  deptid  managerid   sq_salary
0    123   abc  100000       1        123  316.227766
1    243   pqr   50000       2        243  223.606798
2    212   xyz   40000       1        123  200.000000
3    122   def   35000       2        243  187.082869

# **Adding Conditional Logic while working on column (SQL:CASE)**

In [ ]:
#Example : In students table make column 'grade' if marks >= 70 then 'Dist'
#if marks >= 50 and < 70 then 'First' if marks < 50 then 'Fail'

students = pd.read_csv("student.csv")

def cal_grade(marks):
  if marks >= 70:
    return 'Dist'
  elif 70 > marks >= 50:
    return 'First'
  elif marks < 50:
    return 'Fail'
  else:
    return None

students['grade'] = students['marks'].apply(cal_grade)
print(students)

   sid name  marks  grade
0  111  aaa     80   Dist
1  222  bbb     55  First
2  333  ccc     80   Dist
3  444  ddd     35   Fail
4  555  eee     55  First
5  666  fff     35   Fail

# **Limiting Results (SQL:LIMIT)**

In pandas we can use head or tail function

In [ ]:
students.head(2)

   sid name  marks  grade
0  111  aaa     80   Dist
1  222  bbb     55  First

In [ ]:
students.tail(1)

   sid name  marks grade
5  666  fff     35  Fail

# **Concat two string columns (SQL : concat)**

In [ ]:
# In student dataframe, concat name and grade columns with "_" as seperator
students['name_grade'] = students['name']+"_"+students['grade']
print(students['name_grade'])

0     aaa_Dist
1    bbb_First
2     ccc_Dist
3     ddd_Fail
4    eee_First
5     fff_Fail
Name: name_grade, dtype: object

# **Concat two number columns (SQL concat)**

In [ ]:
# In student dataframe, concat sid and marks columns with "_" as seperator
students['sid_marks'] = students['sid'].astype(str) + "_"  \
                        + students['marks'].astype(str)
print(students['sid_marks'])

0    111_80
1    222_55
2    333_80
3    444_35
4    555_55
5    666_35
Name: sid_marks, dtype: object

# **Ranking Data**

## Dense Rank

In [ ]:
#Example rank students based on marks
students['rank'] = students['marks'].rank(method='dense')
print(students)

   sid name  marks  grade name_grade sid_marks  rank
0  111  aaa     80   Dist   aaa_Dist    111_80   3.0
1  222  bbb     55  First  bbb_First    222_55   2.0
2  333  ccc     80   Dist   ccc_Dist    333_80   3.0
3  444  ddd     35   Fail   ddd_Fail    444_35   1.0
4  555  eee     55  First  eee_First    555_55   2.0
5  666  fff     35   Fail   fff_Fail    666_35   1.0

## Rank min (as per SQL rank)

In [ ]:
students['rank'] = students['marks'].rank(method='min')
print(students)

   sid name  marks  grade name_grade sid_marks  rank
0  111  aaa     80   Dist   aaa_Dist    111_80   5.0
1  222  bbb     55  First  bbb_First    222_55   3.0
2  333  ccc     80   Dist   ccc_Dist    333_80   5.0
3  444  ddd     35   Fail   ddd_Fail    444_35   1.0
4  555  eee     55  First  eee_First    555_55   3.0
5  666  fff     35   Fail   fff_Fail    666_35   1.0

## Rank Average (Default in pandas)

In [ ]:
students['rank'] = students['marks'].rank()
print(students)

   sid name  marks  grade name_grade sid_marks  rank
0  111  aaa     80   Dist   aaa_Dist    111_80   5.5
1  222  bbb     55  First  bbb_First    222_55   3.5
2  333  ccc     80   Dist   ccc_Dist    333_80   5.5
3  444  ddd     35   Fail   ddd_Fail    444_35   1.5
4  555  eee     55  First  eee_First    555_55   3.5
5  666  fff     35   Fail   fff_Fail    666_35   1.5

# **Aggregating Data with GROUP BY**

In [ ]:
# Example: group employees by their department and count employees in each department
employee.groupby(['dept'])['empid'].count()

dept
marketing    2
sales        2
Name: empid, dtype: int64

In [ ]:
# Example: group employees by their department and get average salary of every departnment
employee.groupby(['dept'])['salary'].mean()

dept
marketing    42500.0
sales        70000.0
Name: salary, dtype: float64

# **Filtering Groups (SQL: HAVING)**

In [ ]:
# Example find all employees from deprtment that department has
# average salary greater than 45000
print(employee.groupby('dept').filter(lambda group: group['salary'].mean() > 45000))

   empid name  salary   dept
0    123  abc  100000  sales
2    212  xyz   40000  sales

# **Combining Data (SQL: JOINs)**

In [ ]:
# Consider three tables in csv files
# employee, dept and expenses
# details are printed below

employee = pd.read_csv("employee.csv")
dept = pd.read_csv("dept.csv")
expenses = pd.read_csv("expenses.csv")
print(employee)
print(dept)
print(expenses)

   empid name  salary  deptid  managerid
0    123  abc  100000       1        123
1    243  pqr   50000       2        243
2    212  xyz   40000       1        123
3    122  def   35000       2        243
   deptid      dname
0       1      sales
1       2  marketing
   deptid    reason  expenses
0       1    travel     10000
1       2  whatsapp     25000
2       2   calling     12000
3       1  printing     23000
4       1       upi     15000
5       2   website      5000

## **Equi join in two tables** (use **merge function**)

Equi join is **inner join** when values in table1 and table2 are equal.

In [ ]:
#Example employee and dept table.
#Get dept name (dname) for empid 123
df = pd.merge(employee,dept,how='inner',on='deptid')
print("After merging dataframe is ")
print(df)
print("Answer is")
print(df.loc[df['empid'] == 123, ['dname']])

After merging dataframe is
   empid name  salary  deptid  managerid      dname
0    123  abc  100000       1        123      sales
1    243  pqr   50000       2        243  marketing
2    212  xyz   40000       1        123      sales
3    122  def   35000       2        243  marketing
Answer is
   dname
0  sales

In [ ]:
df = pd.merge(employee,dept,how='inner',
                left_on ="deptid" , right_on = "deptid")
print(df)

   empid name  salary  deptid  managerid      dname
0    123  abc  100000       1        123      sales
1    243  pqr   50000       2        243  marketing
2    212  xyz   40000       1        123      sales
3    122  def   35000       2        243  marketing

## **Self Join**

In [ ]:
# Example : print every employee's name and his manager's name
# self join on employee dataframe
df = pd.merge(employee,employee,how='inner',
              left_on='empid', right_on='managerid',
              suffixes=['_e','_m'])
print("After self join dataframe is ")
print(df)
print("Answer is")
print(df[['empid_e', 'name_e', 'name_m']])

After self join dataframe is
   empid_e name_e  salary_e  deptid_e  managerid_e  empid_m name_m  salary_m  \
0      123    abc    100000         1          123      123    abc    100000
1      123    abc    100000         1          123      212    xyz     40000
2      243    pqr     50000         2          243      243    pqr     50000
3      243    pqr     50000         2          243      122    def     35000

   deptid_m  managerid_m
0         1          123
1         1          123
2         2          243
3         2          243
Answer is
   empid_e name_e name_m
0      123    abc    abc
1      123    abc    xyz
2      243    pqr    pqr
3      243    pqr    def

## **Non equi joins**

Non equi join means inner join where < or > conditions are used

NOT very efficient in pandas

Can use merge_asof function when values are sorted

# **Join more than 2 tables (join function)**

**Join function**

join function assumes that all dataframes have same index values

join is performed on index of all given dataframes directly

In [ ]:
# Example : join employee dept and expenses table on deptid
employee = pd.read_csv("employee.csv")
dept = pd.read_csv("dept.csv")
expenses = pd.read_csv("expenses.csv")
print(employee)
print(dept)
print(expenses)

employee.set_index('deptid', inplace=True)
dept.set_index('deptid', inplace=True)
expenses.set_index('deptid', inplace=True)

df = employee.join([dept,expenses])
print("After joining all tables on deptid (index)")
print(df)

   empid name  salary  deptid  managerid
0    123  abc  100000       1        123
1    243  pqr   50000       2        243
2    212  xyz   40000       1        123
3    122  def   35000       2        243
   deptid      dname
0       1      sales
1       2  marketing
   deptid    reason  expenses
0       1    travel     10000
1       2  whatsapp     25000
2       2   calling     12000
3       1  printing     23000
4       1       upi     15000
5       2   website      5000
After joining all tables on deptid (index)
        empid name  salary  managerid      dname    reason  expenses
deptid
1         123  abc  100000        123      sales    travel     10000
1         123  abc  100000        123      sales  printing     23000
1         123  abc  100000        123      sales       upi     15000
2         243  pqr   50000        243  marketing  whatsapp     25000
2         243  pqr   50000        243  marketing   calling     12000
2         243  pqr   50000        243  marketing   website      5000
1         212  xyz   40000        123      sales    travel     10000
1         212  xyz   40000        123      sales  printing     23000
1         212  xyz   40000        123      sales       upi     15000
2         122  def   35000        243  marketing  whatsapp     25000
2         122  def   35000        243  marketing   calling     12000
2         122  def   35000        243  marketing   website      5000

# **Another WAY  --> use pandasql library**

In [ ]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.40)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (3.2.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (4.13.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26773 sha256=54de5e6224a516c56d62257fb6e1564f5f728fc0d0a219059f785ad4b070cce3
  Stored in directory: /root/.cache/pip/wheels/68/5d/a5/edc271b998f909801d7956959f699b976cc9896075dc47c153
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
from pandasql import sqldf

output = sqldf("select * from employee")
print(output)
output = sqldf("select * from dept")
print(output)
output = sqldf("select * from employee, dept where employee.deptid = dept.deptid")
print(output)

   empid name  salary  deptid  managerid
0    123  abc  100000       1        123
1    243  pqr   50000       2        243
2    212  xyz   40000       1        123
3    122  def   35000       2        243
   deptid      dname
0       1      sales
1       2  marketing
   empid name  salary  deptid  managerid  deptid      dname
0    123  abc  100000       1        123       1      sales
1    243  pqr   50000       2        243       2  marketing
2    212  xyz   40000       1        123       1      sales
3    122  def   35000       2        243       2  marketing