In [1]:
import pandas as pd
df = pd.read_csv("/content/BankChurners.csv")

In [2]:
df.shape

(10127, 20)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            10127 non-null  object
 1   Customer_Age              10127 non-null  int64
 2   Gender                    10127 non-null  object
 3   Dependent_count           10127 non-null  int64
 4   Education_Level           10127 non-null  object
 5   Marital_Status            10127 non-null  object
 6   Income_Category           10127 non-null  object
 7   Card_Category             10127 non-null  object
 8   Months_on_book            10127 non-null  int64
 9   Total_Relationship_Count  10127 non-null  int64
 10  Months_Inactive_12_mon    10127 non-null  int64
 11  Contacts_Count_12_mon     10127 non-null  int64
 12  Credit_Limit              10127 non-null  float64
 13  Total_Revolving_Bal       10127 non-null  int64
 14  Avg_Open_To_Buy           10127 non-null  float64
 15  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 16  Total_Trans_Amt           10127 non-null  int64
 17  Total_Trans_Ct            10127 non-null  int64
 18  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 19  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(9), object(6)
memory usage: 1.5+ MB

In [7]:
df.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [13]:
df.nunique().sum()

np.int64(23243)

In [29]:
df.isna().sum()/df.shape[0]*100

Attrition_Flag              0.0
Customer_Age                0.0
Gender                      0.0
Dependent_count             0.0
Education_Level             0.0
Marital_Status              0.0
Income_Category             0.0
Card_Category               0.0
Months_on_book              0.0
Total_Relationship_Count    0.0
Months_Inactive_12_mon      0.0
Contacts_Count_12_mon       0.0
Credit_Limit                0.0
Total_Revolving_Bal         0.0
Avg_Open_To_Buy             0.0
Total_Amt_Chng_Q4_Q1        0.0
Total_Trans_Amt             0.0
Total_Trans_Ct              0.0
Total_Ct_Chng_Q4_Q1         0.0
Avg_Utilization_Ratio       0.0
dtype: float64

In [10]:
cat_col = df.columns[df.nunique() < 10]
cont_col = df.columns[df.nunique() >= 10]

In [ ]:
df.drop_duplicates(inplace=True)

In [11]:
cat_col

Index(['Attrition_Flag', 'Gender', 'Dependent_count', 'Education_Level',
       'Marital_Status', 'Income_Category', 'Card_Category',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon'],
      dtype='object')

In [12]:
cont_col

Index(['Customer_Age', 'Months_on_book', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'],
      dtype='object')

In [14]:
df.columns

Index(['Attrition_Flag', 'Customer_Age', 'Gender', 'Dependent_count',
       'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category',
       'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'],
      dtype='object')

In [15]:
df_ohe = pd.get_dummies(df)

In [16]:
df_ohe.shape

(10127, 39)

In [17]:
df_ohe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 39 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Customer_Age                      10127 non-null  int64
 1   Dependent_count                   10127 non-null  int64
 2   Months_on_book                    10127 non-null  int64
 3   Total_Relationship_Count          10127 non-null  int64
 4   Months_Inactive_12_mon            10127 non-null  int64
 5   Contacts_Count_12_mon             10127 non-null  int64
 6   Credit_Limit                      10127 non-null  float64
 7   Total_Revolving_Bal               10127 non-null  int64
 8   Avg_Open_To_Buy                   10127 non-null  float64
 9   Total_Amt_Chng_Q4_Q1              10127 non-null  float64
 10  Total_Trans_Amt                   10127 non-null  int64
 11  Total_Trans_Ct                    10127 non-null  int64
 12  Total_Ct_Chng_Q4_Q1               10127 non-null  float64
 13  Avg_Utilization_Ratio             10127 non-null  float64
 14  Attrition_Flag_Attrited Customer  10127 non-null  bool
 15  Attrition_Flag_Existing Customer  10127 non-null  bool
 16  Gender_F                          10127 non-null  bool
 17  Gender_M                          10127 non-null  bool
 18  Education_Level_College           10127 non-null  bool
 19  Education_Level_Doctorate         10127 non-null  bool
 20  Education_Level_Graduate          10127 non-null  bool
 21  Education_Level_High School       10127 non-null  bool
 22  Education_Level_Post-Graduate     10127 non-null  bool
 23  Education_Level_Uneducated        10127 non-null  bool
 24  Education_Level_Unknown           10127 non-null  bool
 25  Marital_Status_Divorced           10127 non-null  bool
 26  Marital_Status_Married            10127 non-null  bool
 27  Marital_Status_Single             10127 non-null  bool
 28  Marital_Status_Unknown            10127 non-null  bool
 29  Income_Category_$120K +           10127 non-null  bool
 30  Income_Category_$40K - $60K       10127 non-null  bool
 31  Income_Category_$60K - $80K       10127 non-null  bool
 32  Income_Category_$80K - $120K      10127 non-null  bool
 33  Income_Category_Less than $40K    10127 non-null  bool
 34  Income_Category_Unknown           10127 non-null  bool
 35  Card_Category_Blue                10127 non-null  bool
 36  Card_Category_Gold                10127 non-null  bool
 37  Card_Category_Platinum            10127 non-null  bool
 38  Card_Category_Silver              10127 non-null  bool
dtypes: bool(25), float64(5), int64(9)
memory usage: 1.3 MB

In [18]:
df_ohe.columns

Index(['Customer_Age', 'Dependent_count', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Attrition_Flag_Attrited Customer', 'Attrition_Flag_Existing Customer',
       'Gender_F', 'Gender_M', 'Education_Level_College',
       'Education_Level_Doctorate', 'Education_Level_Graduate',
       'Education_Level_High School', 'Education_Level_Post-Graduate',
       'Education_Level_Uneducated', 'Education_Level_Unknown',
       'Marital_Status_Divorced', 'Marital_Status_Married',
       'Marital_Status_Single', 'Marital_Status_Unknown',
       'Income_Category_$120K +', 'Income_Category_$40K - $60K',
       'Income_Category_$60K - $80K', 'Income_Category_$80K - $120K',
       'Income_Category_Less than $40K', 'Income_Category_Unknown',
       'Card_Category_Blue', 'Card_Category_Gold', 'Card_Category_Platinum',
       'Card_Category_Silver'],
      dtype='object')

In [20]:
X = df_ohe.drop(['Attrition_Flag_Attrited Customer','Attrition_Flag_Existing Customer'], axis=1)
Y = df_ohe['Attrition_Flag_Attrited Customer']

In [21]:
X.shape,Y.shape

((10127, 37), (10127,))

In [26]:
X

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,...,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,45,3,39,5,1,3,12691.0,777,11914.0,1.335,...,False,False,True,False,False,False,True,False,False,False
1,49,5,44,6,1,2,8256.0,864,7392.0,1.541,...,False,False,False,False,True,False,True,False,False,False
2,51,3,36,4,1,0,3418.0,0,3418.0,2.594,...,False,False,False,True,False,False,True,False,False,False
3,40,4,34,3,4,1,3313.0,2517,796.0,1.405,...,False,False,False,False,True,False,True,False,False,False
4,40,3,21,5,1,0,4716.0,0,4716.0,2.175,...,False,False,True,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,50,2,40,3,2,3,4003.0,1851,2152.0,0.703,...,False,True,False,False,False,False,True,False,False,False
10123,41,2,25,4,2,3,4277.0,2186,2091.0,0.804,...,False,True,False,False,False,False,True,False,False,False
10124,44,1,36,5,3,4,5409.0,0,5409.0,0.819,...,False,False,False,False,True,False,True,False,False,False
10125,30,2,36,4,3,3,5281.0,0,5281.0,0.535,...,False,True,False,False,False,False,True,False,False,False
10126,43,2,25,6,2,4,10388.0,1961,8427.0,0.703,...,False,False,False,False,True,False,False,False,False,True

In [25]:
Y

0        False
1        False
2        False
3        False
4        False
         ...
10122    False
10123     True
10124     True
10125     True
10126     True
Name: Attrition_Flag_Attrited Customer, Length: 10127, dtype: bool

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train,Y_test = train_test_split(X,Y,
                                    test_size=0.3,
                                    random_state=7)

In [28]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((7088, 37), (3039, 37), (7088,), (3039,))