In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/76_attributes_heartdiseases.csv")

In [ ]:
df.shape

(282, 76)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 76 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      282 non-null    int64
 1   V2      282 non-null    int64
 2   V3      282 non-null    int64
 3   V4      282 non-null    int64
 4   V5      282 non-null    int64
 5   V6      282 non-null    int64
 6   V7      282 non-null    int64
 7   V8      282 non-null    int64
 8   V9      282 non-null    int64
 9   V10     282 non-null    int64
 10  V11     282 non-null    int64
 11  V12     282 non-null    int64
 12  V13     282 non-null    int64
 13  V14     282 non-null    int64
 14  V15     282 non-null    int64
 15  V16     282 non-null    int64
 16  V17     282 non-null    int64
 17  V18     282 non-null    int64
 18  V19     282 non-null    int64
 19  V20     282 non-null    int64
 20  V21     282 non-null    int64
 21  V22     282 non-null    int64
 22  V23     282 non-null    int64
 23  V24     282 non-null    int64
 24  V25     282 non-null    int64
 25  V26     282 non-null    int64
 26  V27     282 non-null    int64
 27  V28     282 non-null    float64
 28  V29     282 non-null    float64
 29  V30     282 non-null    float64
 30  V31     282 non-null    float64
 31  V32     282 non-null    int64
 32  V33     282 non-null    int64
 33  V34     282 non-null    int64
 34  V35     282 non-null    int64
 35  V36     282 non-null    int64
 36  V37     282 non-null    int64
 37  V38     282 non-null    int64
 38  V39     282 non-null    float64
 39  V40     282 non-null    float64
 40  V41     282 non-null    int64
 41  V42     282 non-null    int64
 42  V43     282 non-null    int64
 43  V44     282 non-null    int64
 44  V45     282 non-null    int64
 45  V46     282 non-null    int64
 46  V47     282 non-null    int64
 47  V48     282 non-null    int64
 48  V49     282 non-null    int64
 49  V50     282 non-null    int64
 50  V51     282 non-null    int64
 51  V52     282 non-null    int64
 52  V53     282 non-null    int64
 53  V54     282 non-null    int64
 54  V55     282 non-null    int64
 55  V56     282 non-null    int64
 56  V57     282 non-null    int64
 57  V58     282 non-null    int64
 58  V59     282 non-null    int64
 59  V60     282 non-null    int64
 60  V61     282 non-null    int64
 61  V62     282 non-null    int64
 62  V63     282 non-null    object
 63  V64     282 non-null    int64
 64  V65     282 non-null    int64
 65  V66     282 non-null    int64
 66  V67     282 non-null    int64
 67  V68     282 non-null    int64
 68  V69     282 non-null    int64
 69  V70     282 non-null    int64
 70  V71     282 non-null    int64
 71  V72     282 non-null    int64
 72  V73     282 non-null    int64
 73  V74     282 non-null    int64
 74  V75     282 non-null    object
 75  V76     275 non-null    object
dtypes: float64(6), int64(67), object(3)
memory usage: 167.6+ KB

In [ ]:
df.head(10)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30,V31,V32,V33,V34,V35,V36,V37,V38,V39,V40,V41,V42,V43,V44,V45,V46,V47,V48,V49,V50,V51,V52,V53,V54,V55,V56,V57,V58,V59,V60,V61,V62,V63,V64,V65,V66,V67,V68,V69,V70,V71,V72,V73,V74,V75,V76
0,1,0,63,1,-9,-9,-9,-9,1,145,1,233,-9,50,20,1,-9,1,2,2,3,81,0,0,0,0,0,1.0,10.5,6.0,13.0,150,60,190,90,145,85,0,0.0,2.3,3,-9,172,0,-9,-9,-9,-9,-9,-9,6,-9,-9,-9,2,16,81,0,1,1,1,-9,1,-9,1,-9,1,1,1,1,1,1,1,-9,-9,name
1,2,0,67,1,-9,-9,-9,-9,4,160,1,286,-9,40,40,0,-9,1,2,3,5,81,0,1,0,0,0,1.0,9.5,6.0,13.0,108,64,160,90,160,90,1,0.0,1.5,2,-9,185,3,-9,-9,-9,-9,-9,-9,3,-9,-9,-9,2,5,81,2,1,2,2,-9,2,-9,1,-9,1,1,1,1,1,1,1,-9,-9,name
2,3,0,67,1,-9,-9,-9,-9,4,120,1,229,-9,20,35,0,-9,1,2,2,19,81,0,1,0,0,0,1.0,8.5,6.0,10.0,129,78,140,80,120,80,1,0.0,2.6,2,-9,150,2,-9,-9,-9,-9,-9,-9,7,-9,-9,-9,2,20,81,1,1,1,1,-9,1,-9,1,-9,2,2,1,1,1,7,3,-9,-9,name
3,4,0,37,1,-9,-9,-9,-9,3,130,0,250,-9,0,0,0,-9,1,0,2,13,81,0,1,0,0,0,1.0,13.0,13.0,17.0,187,84,195,68,130,78,0,0.0,3.5,3,-9,167,0,-9,-9,-9,-9,-9,-9,3,-9,-9,-9,2,4,81,0,1,1,1,-9,1,-9,1,-9,1,1,1,1,1,1,1,-9,-9,name
4,6,0,41,0,-9,-9,-9,-9,2,130,1,204,-9,0,0,0,-9,1,2,2,7,81,0,0,0,0,0,1.0,7.0,-9.0,9.0,172,71,160,74,130,86,0,0.0,1.4,1,-9,40,0,-9,-9,-9,-9,-9,-9,3,-9,-9,-9,2,18,81,0,1,1,1,-9,1,-9,1,-9,1,1,1,1,1,1,1,-9,-9,name
5,7,0,56,1,-9,-9,-9,-9,2,120,1,236,-9,20,20,0,-9,1,0,3,9,81,1,0,0,0,0,1.0,11.3,-9.0,16.0,178,73,165,70,120,75,0,0.0,0.8,1,-9,127,0,-9,-9,-9,-9,-9,-9,3,-9,-9,-9,3,10,81,0,1,1,1,-9,1,-9,1,-9,1,1,1,1,1,1,1,-9,-9,name
6,8,0,62,0,-9,-9,-9,-9,4,140,0,268,-9,0,0,0,-9,1,2,1,28,81,0,0,0,0,0,1.0,6.0,6.0,7.0,160,83,180,84,140,100,0,0.0,3.6,3,-9,122,2,-9,-9,-9,-9,-9,-9,3,-9,-9,-9,2,2,81,3,1,2,1,-9,1,-9,2,-9,2,1,1,1,1,7,1,-9,-9,name
7,9,0,57,0,-9,-9,-9,-9,4,120,1,354,-9,0,0,0,-9,1,0,7,20,81,0,0,0,0,0,1.0,9.0,6.0,10.0,163,84,165,80,120,80,1,0.0,0.6,1,-9,122,0,-9,-9,-9,-9,-9,-9,3,-9,-9,-9,7,21,81,0,1,1,1,-9,1,-9,1,-9,1,1,1,1,1,1,1,-9,-9,name
8,10,0,63,1,-9,-9,-9,-9,4,130,1,254,-9,0,0,0,-9,0,2,7,2,81,0,1,1,0,0,1.0,8.0,8.0,9.0,147,75,120,70,130,105,0,0.0,1.4,2,-9,75,1,-9,-9,-9,-9,-9,-9,7,-9,-9,-9,7,3,81,2,1,2,1,-9,1,-9,1,-9,2,1,1,1,6,7,2,-9,-9,name
9,11,0,53,1,-9,-9,-9,-9,4,140,0,203,-9,20,25,1,-9,1,2,7,3,81,0,1,0,0,1,1.0,5.5,3.0,7.0,155,86,185,120,140,100,1,0.0,3.1,3,-9,68,0,-9,-9,-9,-9,-9,-9,7,-9,-9,-9,7,6,81,1,1,1,1,-9,1,-9,1,-9,2,1,1,1,1,1,1,-9,-9,name

In [ ]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_colwidth',None)

to get values of every column

In [ ]:
df.nunique()

V1     282
V2       1
V3      41
V4       2
V5       1
V6       1
V7       2
V8       3
V9       6
V10     49
V11      5
V12    145
V13      4
V14     23
V15     38
V16      3
V17      2
V18      2
V19      5
V20     14
V21     33
V22      5
V23      3
V24      3
V25      3
V26      3
V27      3
V28      4
V29     65
V30     35
V31     20
V32     93
V33     63
V34     60
V35     42
V36     50
V37     31
V38      2
V39      6
V40     39
V41      4
V42      5
V43    117
V44      5
V45      1
V46      1
V47      1
V48      1
V49      1
V50      3
V51      4
V52      1
V53      1
V54      5
V55     15
V56     33
V57      6
V58      5
V59      2
V60      2
V61      3
V62      2
V63      5
V64      3
V65      3
V66      3
V67      2
V68      2
V69      1
V70      2
V71      7
V72      7
V73      5
V74      1
V75      2
V76      1
dtype: int64

In [ ]:
cat_col = df.columns[df.nunique()<10]

In [ ]:
cont_col = df.columns[df.nunique() >= 10]

In [ ]:
cat_col

Index(['V2', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V11', 'V13', 'V16', 'V17',
       'V18', 'V19', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V38',
       'V39', 'V41', 'V42', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50',
       'V51', 'V52', 'V53', 'V54', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62',
       'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72',
       'V73', 'V74', 'V75', 'V76'],
      dtype='object')

In [ ]:
cont_col

Index(['V1', 'V3', 'V10', 'V12', 'V14', 'V15', 'V20', 'V21', 'V29', 'V30',
       'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V40', 'V43', 'V55',
       'V56'],
      dtype='object')

In [ ]:
#In this -9 representes missing values
df = pd.read_csv("/content/76_attributes_heartdiseases.csv",na_values=[-9,'-9',-18])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 76 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      282 non-null    int64
 1   V2      282 non-null    int64
 2   V3      282 non-null    int64
 3   V4      282 non-null    int64
 4   V5      0 non-null      float64
 5   V6      0 non-null      float64
 6   V7      0 non-null      float64
 7   V8      3 non-null      float64
 8   V9      282 non-null    int64
 9   V10     282 non-null    int64
 10  V11     282 non-null    int64
 11  V12     279 non-null    float64
 12  V13     3 non-null      float64
 13  V14     277 non-null    float64
 14  V15     277 non-null    float64
 15  V16     279 non-null    float64
 16  V17     26 non-null     float64
 17  V18     282 non-null    int64
 18  V19     282 non-null    int64
 19  V20     282 non-null    int64
 20  V21     282 non-null    int64
 21  V22     282 non-null    int64
 22  V23     280 non-null    float64
 23  V24     280 non-null    float64
 24  V25     280 non-null    float64
 25  V26     280 non-null    float64
 26  V27     280 non-null    float64
 27  V28     282 non-null    float64
 28  V29     282 non-null    float64
 29  V30     213 non-null    float64
 30  V31     282 non-null    float64
 31  V32     282 non-null    int64
 32  V33     282 non-null    int64
 33  V34     282 non-null    int64
 34  V35     282 non-null    int64
 35  V36     282 non-null    int64
 36  V37     282 non-null    int64
 37  V38     282 non-null    int64
 38  V39     282 non-null    float64
 39  V40     282 non-null    float64
 40  V41     278 non-null    float64
 41  V42     4 non-null      float64
 42  V43     282 non-null    int64
 43  V44     276 non-null    float64
 44  V45     0 non-null      float64
 45  V46     0 non-null      float64
 46  V47     0 non-null      float64
 47  V48     0 non-null      float64
 48  V49     0 non-null      float64
 49  V50     4 non-null      float64
 50  V51     276 non-null    float64
 51  V52     0 non-null      float64
 52  V53     0 non-null      float64
 53  V54     4 non-null      float64
 54  V55     282 non-null    int64
 55  V56     282 non-null    int64
 56  V57     282 non-null    int64
 57  V58     282 non-null    int64
 58  V59     282 non-null    int64
 59  V60     282 non-null    int64
 60  V61     278 non-null    float64
 61  V62     4 non-null      float64
 62  V63     278 non-null    object
 63  V64     6 non-null      float64
 64  V65     276 non-null    float64
 65  V66     6 non-null      float64
 66  V67     282 non-null    int64
 67  V68     282 non-null    int64
 68  V69     282 non-null    int64
 69  V70     282 non-null    int64
 70  V71     282 non-null    int64
 71  V72     282 non-null    int64
 72  V73     275 non-null    float64
 73  V74     0 non-null      float64
 74  V75     7 non-null      object
 75  V76     275 non-null    object
dtypes: float64(41), int64(32), object(3)
memory usage: 167.6+ KB

percentage of missing values

In [ ]:
df.isna().sum()/df.shape[0]*100

V1       0.000000
V2       0.000000
V3       0.000000
V4       0.000000
V5     100.000000
V6     100.000000
V7     100.000000
V8      98.936170
V9       0.000000
V10      0.000000
V11      0.000000
V12      1.063830
V13     98.936170
V14      1.773050
V15      1.773050
V16      1.063830
V17     90.780142
V18      0.000000
V19      0.000000
V20      0.000000
V21      0.000000
V22      0.000000
V23      0.709220
V24      0.709220
V25      0.709220
V26      0.709220
V27      0.709220
V28      0.000000
V29      0.000000
V30     24.468085
V31      0.000000
V32      0.000000
V33      0.000000
V34      0.000000
V35      0.000000
V36      0.000000
V37      0.000000
V38      0.000000
V39      0.000000
V40      0.000000
V41      1.418440
V42     98.581560
V43      0.000000
V44      2.127660
V45    100.000000
V46    100.000000
V47    100.000000
V48    100.000000
V49    100.000000
V50     98.581560
V51      2.127660
V52    100.000000
V53    100.000000
V54     98.581560
V55      0.000000
V56      0.000000
V57      0.000000
V58      0.000000
V59      0.000000
V60      0.000000
V61      1.418440
V62     98.581560
V63      1.418440
V64     97.872340
V65      2.127660
V66     97.872340
V67      0.000000
V68      0.000000
V69      0.000000
V70      0.000000
V71      0.000000
V72      0.000000
V73      2.482270
V74    100.000000
V75     97.517730
V76      2.482270
dtype: float64

In [ ]:
drop_col = df.columns[(df.isna().sum()/df.shape[0]*100) > 90]

In [ ]:
drop_col

Index(['V5', 'V6', 'V7', 'V8', 'V13', 'V17', 'V42', 'V45', 'V46', 'V47', 'V48',
       'V49', 'V50', 'V52', 'V53', 'V54', 'V62', 'V64', 'V66', 'V74', 'V75'],
      dtype='object')

to drop the columns which has unique value i.e single value column

In [ ]:
df.drop(drop_col,axis=1,inplace=True)

In [ ]:
df.shape

(282, 55)

In [ ]:
drop_col = df.columns[df.nunique() == 1]

In [ ]:
drop_col

Index(['V2', 'V69', 'V76'], dtype='object')

In [ ]:
df.drop(drop_col,axis=1,inplace=True)

In [ ]:
df.shape

(282, 52)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 52 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      282 non-null    int64
 1   V3      282 non-null    int64
 2   V4      282 non-null    int64
 3   V9      282 non-null    int64
 4   V10     282 non-null    int64
 5   V11     282 non-null    int64
 6   V12     279 non-null    float64
 7   V14     277 non-null    float64
 8   V15     277 non-null    float64
 9   V16     279 non-null    float64
 10  V18     282 non-null    int64
 11  V19     282 non-null    int64
 12  V20     282 non-null    int64
 13  V21     282 non-null    int64
 14  V22     282 non-null    int64
 15  V23     280 non-null    float64
 16  V24     280 non-null    float64
 17  V25     280 non-null    float64
 18  V26     280 non-null    float64
 19  V27     280 non-null    float64
 20  V28     282 non-null    float64
 21  V29     282 non-null    float64
 22  V30     213 non-null    float64
 23  V31     282 non-null    float64
 24  V32     282 non-null    int64
 25  V33     282 non-null    int64
 26  V34     282 non-null    int64
 27  V35     282 non-null    int64
 28  V36     282 non-null    int64
 29  V37     282 non-null    int64
 30  V38     282 non-null    int64
 31  V39     282 non-null    float64
 32  V40     282 non-null    float64
 33  V41     278 non-null    float64
 34  V43     282 non-null    int64
 35  V44     276 non-null    float64
 36  V51     276 non-null    float64
 37  V55     282 non-null    int64
 38  V56     282 non-null    int64
 39  V57     282 non-null    int64
 40  V58     282 non-null    int64
 41  V59     282 non-null    int64
 42  V60     282 non-null    int64
 43  V61     278 non-null    float64
 44  V63     278 non-null    object
 45  V65     276 non-null    float64
 46  V67     282 non-null    int64
 47  V68     282 non-null    int64
 48  V70     282 non-null    int64
 49  V71     282 non-null    int64
 50  V72     282 non-null    int64
 51  V73     275 non-null    float64
dtypes: float64(21), int64(30), object(1)
memory usage: 114.7+ KB

In [ ]:
#We are dropping v1 columns
#because it is identity column
df.drop('V1',axis=1,inplace=True)

In [ ]:
df.shape

(282, 51)

In [ ]:
valid_col = df.columns

In [ ]:
valid_col

Index(['V3', 'V4', 'V9', 'V10', 'V11', 'V12', 'V14', 'V15', 'V16', 'V18',
       'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28',
       'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38',
       'V39', 'V40', 'V41', 'V43', 'V44', 'V51', 'V55', 'V56', 'V57', 'V58',
       'V59', 'V60', 'V61', 'V63', 'V65', 'V67', 'V68', 'V70', 'V71', 'V72',
       'V73'],
      dtype='object')

removing duplicates (rows) from the data

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

(282, 51)

In [ ]:
df_1 = df.select_dtypes(exclude= 'object')

In [ ]:
df_1.shape

(282, 50)

In [ ]:
df_2 = df.select_dtypes(include= 'object')

In [ ]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V63     278 non-null    object
dtypes: object(1)
memory usage: 2.3+ KB

In [ ]:
df_2['V63'].unique()  #here we decided to drop rows and column

array(['1', '2', nan, '9-Jan', '1-Jan'], dtype=object)

In [ ]:
#drop V63
df.drop('V63',axis=1,inplace=True)

In [ ]:
df.shape

(282, 50)

In [ ]:
df.select_dtypes(include= 'object').shape

(282, 0)

In [ ]:
cat_col = df.columns[df.nunique() < 10]

In [ ]:
cont_col = df.columns[df.nunique()  >= 10]

In [ ]:
cat_col

Index(['V4', 'V9', 'V11', 'V16', 'V18', 'V19', 'V22', 'V23', 'V24', 'V25',
       'V26', 'V27', 'V28', 'V38', 'V39', 'V41', 'V44', 'V51', 'V57', 'V58',
       'V59', 'V60', 'V61', 'V65', 'V67', 'V68', 'V70', 'V71', 'V72', 'V73'],
      dtype='object')

In [ ]:
cont_col

Index(['V3', 'V10', 'V12', 'V14', 'V15', 'V20', 'V21', 'V29', 'V30', 'V31',
       'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V40', 'V43', 'V55', 'V56'],
      dtype='object')

filling the null values with mode values of mode's first value as this can return multimodel values

In [ ]:
df.loc[:,cat_col] = df.loc[:,cat_col].fillna(df.loc[:,cat_col].mode().iloc[0])

In [ ]:
df.loc[:,cont_col] = df.loc[:,cont_col].fillna(df.loc[:,cont_col].median())

In [ ]:
df.isna().sum()

V3     0
V4     0
V9     0
V10    0
V11    0
V12    0
V14    0
V15    0
V16    0
V18    0
V19    0
V20    0
V21    0
V22    0
V23    0
V24    0
V25    0
V26    0
V27    0
V28    0
V29    0
V30    0
V31    0
V32    0
V33    0
V34    0
V35    0
V36    0
V37    0
V38    0
V39    0
V40    0
V41    0
V43    0
V44    0
V51    0
V55    0
V56    0
V57    0
V58    0
V59    0
V60    0
V61    0
V65    0
V67    0
V68    0
V70    0
V71    0
V72    0
V73    0
dtype: int64

In [ ]:
df.loc[:,cont_col] = (df.loc[:,cont_col] - df.loc[:,cont_col].mean()) / df.loc[:,cont_col].std()

/tmp/ipython-input-1231680150.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.94869923  1.39053768  1.39053768 -1.9232507  -1.48141225  0.17548194
  0.83823961  0.28594155  0.94869923 -0.1558969   0.28594155  0.17548194
  0.17548194 -1.15003341 -0.26635651  0.28594155 -0.70819496 -0.04543729
 -0.70819496 -0.59773535  1.05915884  0.39640116  0.39640116  0.39640116
  0.61732039 -0.48727574  0.39640116  1.28007806 -1.26049303 -1.59187187
  1.6114569   0.61732039  1.05915884  0.50686078 -1.15003341 -1.37095264
 -1.26049303  0.28594155  0.06502233  0.72778     1.16961845 -1.59187187
  1.83237613  0.50686078  0.72778     0.39640116 -0.37681613 -0.48727574
  1.16961845 -0.1558969  -1.48141225  1.16961845 -1.15003341 -1.15003341
  0.61732039 -0.04543729 -0.48727574 -1.48141225 -0.04543729 -0.37681613
 -0.37681613 -0.92911419  0.39640116 -0.04543729 -0.04543729  0.61732039
  0.61732039 -0.04543729  0.50686078 -0.92911419  1.16961845  1.39053768
  0.83823961  1.16961845 -1.15003341  1.16961845  0.61732039 -0.37681613
 -0.70819496  0.39640116 -1.0395738  -0.1558969  -1.70233148  1.50099729
 -0.26635651 -1.15003341 -0.81865458 -0.1558969  -0.1558969  -0.37681613
  1.28007806  0.83823961  0.83823961 -1.15003341  0.94869923 -0.26635651
  0.50686078  0.61732039 -0.26635651 -0.70819496 -1.0395738  -2.25462954
  0.28594155  1.83237613 -0.59773535 -0.04543729  0.50686078  0.28594155
  0.72778    -1.70233148  0.72778     0.17548194 -0.26635651 -1.26049303
  0.83823961 -1.48141225  0.39640116 -2.14416993  0.94869923  1.16961845
 -0.70819496  0.94869923 -0.37681613  0.06502233  1.16961845 -1.0395738
  0.17548194 -0.04543729 -1.15003341  0.83823961 -0.04543729 -0.37681613
 -2.8069276  -0.37681613 -1.26049303  0.06502233  1.72191652  0.83823961
 -2.14416993 -0.37681613  0.50686078  0.50686078 -0.26635651  1.05915884
  0.39640116 -0.81865458  0.28594155 -1.48141225 -1.0395738   0.61732039
 -0.26635651 -1.37095264  1.39053768  0.06502233  1.05915884  1.72191652
 -0.37681613  0.39640116  0.61732039  1.50099729 -0.92911419  2.4951338
 -0.04543729  0.39640116 -0.70819496  0.28594155 -0.26635651 -0.04543729
 -2.14416993 -1.0395738   1.72191652 -0.1558969   0.50686078  0.83823961
  1.05915884  0.28594155 -0.26635651  0.17548194 -1.26049303 -0.1558969
 -0.70819496  0.17548194 -1.37095264  0.50686078  0.61732039  0.94869923
 -1.37095264  1.28007806 -0.04543729  1.6114569  -0.48727574 -0.37681613
 -1.26049303  0.83823961  1.50099729  1.39053768  1.6114569  -1.0395738
 -0.48727574  0.50686078 -0.48727574  1.05915884  0.28594155  1.05915884
 -1.26049303 -1.0395738   0.39640116 -0.48727574  0.06502233  0.83823961
 -1.9232507  -1.81279109 -1.48141225  1.28007806 -0.26635651  0.17548194
 -0.92911419 -0.92911419  1.05915884  0.50686078 -1.48141225 -0.04543729
 -1.70233148 -0.1558969   0.94869923 -2.25462954 -0.81865458  1.39053768
 -0.04543729  1.28007806 -0.26635651  0.06502233 -0.59773535  2.16375497
 -0.04543729 -0.04543729  0.17548194 -0.92911419 -0.59773535 -1.37095264
 -1.48141225 -1.48141225 -0.59773535  0.72778     0.61732039  1.39053768
  0.39640116 -0.81865458 -0.26635651  0.83823961  0.28594155  0.39640116
  1.05915884 -0.37681613 -1.26049303 -1.37095264  1.39053768  2.38467419
  1.72191652  0.28594155 -1.15003341  0.39640116  0.61732039 -1.15003341
  0.72778    -1.37095264 -0.26635651  0.50686078 -1.59187187 -1.37095264
  0.72778     1.28007806 -0.92911419  1.83237613  0.50686078  1.05915884
  1.28007806 -1.70233148  0.28594155  0.39640116  0.28594155 -0.81865458]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:,cont_col] = (df.loc[:,cont_col] - df.loc[:,cont_col].mean()) / df.loc[:,cont_col].std()
/tmp/ipython-input-1231680150.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.66299159  1.33811302 -0.4622108  -0.01212984 -0.01212984 -0.4622108
  0.43795111 -0.4622108  -0.01212984  0.43795111  0.43795111  0.43795111
 -0.01212984 -0.4622108   1.87821017  0.88803207 -0.91229175  0.43795111
 -0.01212984 -0.01212984 -0.91229175  0.88803207 -0.4622108   0.07788635
 -0.01212984 -0.4622108  -0.4622108   0.88803207  0.88803207 -0.91229175
  0.43795111 -0.59723508  0.43795111  0.21291064 -0.01212984  0.43795111
 -0.4622108   0.88803207  0.07788635  0.88803207  0.88803207  0.43795111
  1.33811302  0.88803207 -0.01212984 -0.82227556 -0.91229175  0.88803207
  0.43795111 -0.01212984 -1.13733223 -0.4622108  -0.82227556 -0.01212984
 -5.81817416 -0.28217841  0.43795111 -0.91229175 -0.23717032 -0.23717032
 -0.01212984  0.5279673  -0.10214603  0.21291064 -0.4622108   0.66299159
  0.43795111  0.88803207  1.78819398  0.88803207  1.11307255 -0.23717032
 -0.4622108  -0.91229175 -0.91229175  1.33811302 -0.23717032  0.43795111
 -0.01212984  0.88803207 -1.18234032 -0.01212984  0.43795111  2.23827493
 -0.4622108   0.43795111  0.34793492 -0.10214603  0.34793492 -0.01212984
 -0.4622108   1.33811302 -5.81817416 -5.81817416  0.21291064 -0.10214603
 -0.91229175  0.88803207  0.16790254 -0.37219461 -0.68725127 -0.55222699
 -0.10214603 -0.91229175 -0.4622108  -1.00230794  0.43795111 -0.10214603
 -0.4622108  -0.55222699  0.66299159 -0.23717032 -0.55222699  0.07788635
 -0.01212984  0.21291064  0.43795111  0.34793492 -0.01212984  0.21291064
 -0.01212984  0.88803207 -1.36237271  0.43795111  0.34793492 -0.01212984
  3.13843684 -0.91229175 -0.4622108  -0.28217841 -0.4622108  -1.63242128
 -0.01212984  0.43795111 -0.37219461  0.21291064  0.66299159 -0.4622108
 -0.4622108  -0.23717032  0.43795111  1.78819398 -0.10214603 -0.23717032
 -1.13733223 -1.00230794  1.5631535  -0.82227556 -0.10214603 -1.27235652
  0.97804826 -1.27235652 -0.68725127  1.33811302 -0.4622108  -0.01212984
  0.43795111 -0.23717032  0.43795111 -0.55222699 -1.31736461 -0.23717032
 -0.91229175 -1.36237271 -0.28217841  0.07788635  0.34793492  0.07788635
 -0.19216222 -0.82227556  1.33811302  0.5279673   1.96822636  0.43795111
  0.66299159  0.97804826 -1.00230794  0.07788635 -0.01212984 -0.01212984
 -0.28217841  0.16790254  0.79801588  2.14825874  1.24809683  0.43795111
 -0.4622108   1.33811302  2.77837208  0.43795111 -0.05713794  0.43795111
  0.07788635  0.34793492 -0.4622108  -1.36237271  1.33811302  0.34793492
 -0.4622108   1.33811302 -0.91229175  2.23827493  0.88803207  0.43795111
 -0.91229175  0.5279673  -0.10214603  0.6179835  -0.01212984  0.88803207
 -0.4622108  -0.4622108  -0.01212984  2.14825874 -0.82227556 -0.4622108
 -1.13733223  0.34793492 -0.01212984  0.34793492 -0.82227556 -1.00230794
 -1.63242128 -0.32718651 -1.00230794 -0.55222699 -0.82227556  0.97804826
 -0.91229175 -0.82227556  0.25791873  2.23827493 -0.55222699 -0.4622108
  1.33811302 -0.37219461 -0.01212984 -0.4622108   0.16790254 -0.4622108
 -0.91229175 -0.19216222 -0.01212984  0.16790254 -0.4622108  -0.4622108
 -1.36237271 -0.91229175 -0.23717032 -0.10214603 -0.91229175  0.70799969
 -0.10214603 -0.4622108  -0.68725127 -0.4622108  -1.09232413  0.43795111
  1.15808064 -0.28217841 -0.55222699  0.25791873  0.88803207 -0.4622108
  0.34793492  0.25791873 -0.10214603 -0.19216222  0.97804826 -0.01212984
  0.43795111  1.33811302  0.43795111 -0.82227556  0.16790254  1.78819398
  0.70799969  0.34793492  1.06806445 -0.01212984 -0.91229175 -0.01212984]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:,cont_col] = (df.loc[:,cont_col] - df.loc[:,cont_col].mean()) / df.loc[:,cont_col].std()
/tmp/ipython-input-1231680150.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.14576663 -0.89115182 -1.14576663 -1.14576663 -1.14576663 -0.89115182
 -1.40038144  0.1273074   0.1273074   0.1273074  -0.1273074  -1.40038144
 -1.40038144 -0.38192221 -0.1273074   0.1273074   0.1273074  -0.1273074
 -0.1273074   0.1273074  -0.1273074  -0.38192221 -0.38192221 -0.1273074
 -0.38192221 -0.1273074  -1.40038144 -0.1273074  -0.1273074   0.1273074
 -0.38192221  1.14576663  1.14576663  1.40038144  0.89115182  0.63653702
  1.14576663  1.40038144 -1.40038144 -1.40038144  1.40038144  1.14576663
  1.40038144  1.40038144  1.14576663  0.38192221  0.89115182  0.63653702
  1.14576663  1.40038144  0.38192221  0.63653702  0.38192221  0.89115182
 -0.38192221  1.14576663  1.14576663  1.40038144  1.40038144  1.40038144
  1.40038144  1.40038144  1.40038144 -1.40038144 -1.14576663 -1.14576663
 -1.40038144 -1.40038144 -1.40038144 -1.14576663 -1.14576663 -1.40038144
 -1.14576663 -1.40038144 -1.40038144 -1.14576663 -1.14576663 -1.14576663
  1.40038144 -1.40038144 -0.63653702 -0.89115182 -0.63653702 -1.14576663
 -0.89115182 -1.14576663 -0.63653702 -1.14576663 -0.63653702 -0.89115182
 -0.63653702 -0.89115182  4.20114432  2.16422586 -0.89115182 -1.14576663
 -0.89115182 -0.89115182  0.1273074  -0.38192221 -0.1273074  -0.38192221
 -0.1273074  -0.1273074  -0.1273074   0.1273074  -0.1273074  -0.38192221
  0.1273074   0.1273074   0.1273074  -0.63653702 -0.89115182 -1.40038144
 -0.63653702  1.40038144  0.1273074  -0.1273074  -1.40038144 -1.40038144
 -0.63653702  1.14576663  0.38192221 -1.40038144  1.14576663 -0.1273074
  0.38192221  1.40038144  0.63653702  0.38192221  0.1273074   0.38192221
  0.38192221  0.38192221  0.38192221  0.38192221  0.1273074   0.1273074
  0.38192221  0.63653702  0.38192221  0.38192221  0.89115182  1.14576663
  0.89115182  1.14576663  1.40038144  0.89115182  0.89115182  1.40038144
  0.63653702 -1.40038144  1.40038144 -1.40038144  1.40038144 -1.40038144
  1.14576663  1.40038144  1.14576663 -1.40038144 -1.14576663 -1.14576663
 -1.40038144 -0.63653702 -0.89115182 -0.63653702 -0.89115182 -0.89115182
  0.89115182  0.89115182  0.38192221  0.38192221  0.89115182 -1.40038144
  0.38192221 -1.14576663 -0.38192221 -1.14576663 -1.14576663 -1.40038144
 -1.14576663  1.14576663 -0.1273074  -0.1273074  -0.1273074  -0.1273074
 -0.1273074  -0.1273074  -0.1273074  -0.1273074  -0.1273074   0.1273074
  0.1273074   0.38192221  0.38192221  0.1273074   0.1273074   0.38192221
  0.38192221  0.38192221  0.63653702  0.38192221  0.38192221  0.38192221
  0.38192221  0.38192221  0.63653702  0.38192221  0.63653702  0.63653702
  0.63653702  0.38192221  0.89115182 -1.14576663  0.89115182  0.89115182
  0.89115182  0.89115182  0.89115182  0.89115182  1.14576663  1.14576663
  1.14576663  0.63653702  1.14576663  1.40038144  1.14576663  0.89115182
  0.63653702  1.40038144  1.40038144  0.38192221  1.14576663  1.14576663
  1.40038144  1.14576663  1.40038144  1.40038144 -1.40038144  0.63653702
 -1.40038144  1.40038144  1.40038144 -1.40038144  0.89115182 -1.40038144
  0.89115182  1.40038144  1.40038144 -1.40038144  1.40038144 -1.14576663
 -1.40038144 -1.40038144 -1.40038144 -1.40038144 -1.14576663 -1.14576663
 -1.40038144  1.40038144 -1.40038144  1.14576663 -0.89115182 -1.14576663
  1.40038144 -1.40038144 -1.14576663 -1.14576663 -1.14576663 -0.89115182
 -0.89115182 -1.40038144 -0.89115182 -0.63653702 -0.63653702 -0.63653702
 -0.63653702 -0.38192221 -0.1273074  -0.89115182 -0.38192221 -0.38192221]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:,cont_col] = (df.loc[:,cont_col] - df.loc[:,cont_col].mean()) / df.loc[:,cont_col].std()
/tmp/ipython-input-1231680150.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.17400990e+00 -9.92551530e-01  2.77657041e-01 -2.66718061e-01
 -8.11093162e-01 -6.29634795e-01  1.09421969e+00  3.68386224e-01
 -1.26473908e+00 -1.17400990e+00  1.27567806e+00  5.46948979e-03
  2.77657041e-01  3.68386224e-01 -6.29634795e-01 -2.66718061e-01
  4.59115408e-01  7.31302958e-01 -1.26473908e+00  7.31302958e-01
  5.49844591e-01  9.12761326e-01  4.59115408e-01 -1.08328071e+00
  2.77657041e-01  1.18494888e+00  4.59115408e-01 -1.17400990e+00
 -8.52596938e-02  4.59115408e-01  1.18494888e+00 -1.08328071e+00
 -6.29634795e-01 -1.35546826e+00  1.09421969e+00  1.86927857e-01
  7.31302958e-01  1.18494888e+00 -1.17400990e+00 -9.92551530e-01
 -1.17400990e+00 -3.57447245e-01 -1.08328071e+00 -1.26473908e+00
 -9.01822346e-01 -2.66718061e-01  1.27567806e+00  5.46948979e-03
  5.46948979e-03  5.46948979e-03  1.00349051e+00 -8.52596938e-02
  1.86927857e-01  9.12761326e-01  5.90286642e+00  9.61986734e-02
  2.77657041e-01 -6.29634795e-01 -5.38905612e-01 -1.75988877e-01
 -4.48176428e-01  9.61986734e-02  1.09421969e+00 -8.11093162e-01
 -1.08328071e+00 -4.48176428e-01  1.86927857e-01  4.59115408e-01
  9.12761326e-01 -1.26473908e+00  9.61986734e-02  3.68386224e-01
  1.86927857e-01 -3.57447245e-01  1.09421969e+00 -1.17400990e+00
 -1.35546826e+00 -8.52596938e-02  5.46948979e-03 -8.52596938e-02
 -1.35546826e+00 -1.08328071e+00  3.68386224e-01  9.12761326e-01
  6.40573775e-01  8.22032142e-01  4.59115408e-01  2.77657041e-01
 -1.75988877e-01 -9.92551530e-01 -9.92551530e-01  1.18494888e+00
  5.99359561e+00  5.99359561e+00 -6.29634795e-01  7.31302958e-01
  5.46948979e-03 -1.26473908e+00 -8.11093162e-01 -9.92551530e-01
  8.22032142e-01 -1.75988877e-01  4.59115408e-01  1.09421969e+00
  6.40573775e-01 -3.57447245e-01 -5.38905612e-01 -4.48176428e-01
 -8.52596938e-02 -2.66718061e-01 -1.35546826e+00  1.18494888e+00
  5.49844591e-01  8.22032142e-01  5.49844591e-01 -8.52596938e-02
 -7.20363979e-01  1.18494888e+00 -7.20363979e-01 -1.75988877e-01
 -1.26473908e+00 -4.48176428e-01 -1.17400990e+00  1.00349051e+00
 -5.38905612e-01  9.61986734e-02  3.68386224e-01 -8.11093162e-01
 -2.66718061e-01 -6.29634795e-01  5.46948979e-03  1.86927857e-01
 -2.66718061e-01 -5.38905612e-01  2.77657041e-01 -1.08328071e+00
  1.00349051e+00  2.77657041e-01 -4.48176428e-01  1.18494888e+00
  5.46948979e-03  6.40573775e-01 -2.66718061e-01 -1.26473908e+00
  1.18494888e+00 -1.08328071e+00 -1.26473908e+00  1.00349051e+00
  5.49844591e-01 -1.35546826e+00  5.49844591e-01 -3.57447245e-01
  9.61986734e-02 -1.08328071e+00  1.09421969e+00 -9.01822346e-01
  5.49844591e-01 -8.52596938e-02  1.86927857e-01  8.22032142e-01
  4.59115408e-01  5.46948979e-03  4.59115408e-01  3.68386224e-01
 -8.11093162e-01 -9.92551530e-01  1.36640724e+00  1.36640724e+00
  2.77657041e-01 -3.57447245e-01  1.27567806e+00  7.31302958e-01
 -8.11093162e-01 -5.38905612e-01  3.68386224e-01 -7.20363979e-01
 -5.38905612e-01 -1.35546826e+00 -1.75988877e-01  3.68386224e-01
 -8.52596938e-02 -7.20363979e-01  3.68386224e-01 -6.29634795e-01
 -8.11093162e-01  5.46948979e-03 -2.66718061e-01  1.09421969e+00
 -8.11093162e-01  1.18494888e+00 -2.66718061e-01 -4.48176428e-01
  1.18494888e+00 -1.26473908e+00 -1.08328071e+00  1.00349051e+00
  8.22032142e-01 -5.38905612e-01 -7.20363979e-01 -4.48176428e-01
 -9.01822346e-01  9.12761326e-01  6.40573775e-01  1.27567806e+00
  1.18494888e+00  9.61986734e-02 -1.35546826e+00  5.46948979e-03
  4.59115408e-01  9.12761326e-01 -8.52596938e-02  7.31302958e-01
  9.61986734e-02  1.86927857e-01 -2.66718061e-01 -9.01822346e-01
 -1.08328071e+00  9.12761326e-01  2.77657041e-01  8.22032142e-01
 -6.29634795e-01  1.09421969e+00 -1.17400990e+00 -6.29634795e-01
 -5.38905612e-01 -9.92551530e-01  1.27567806e+00  3.68386224e-01
  6.40573775e-01 -7.20363979e-01 -3.57447245e-01 -3.57447245e-01
  1.27567806e+00  1.18494888e+00 -1.35546826e+00  5.49844591e-01
 -1.75988877e-01 -6.29634795e-01 -3.57447245e-01  5.49844591e-01
 -9.92551530e-01 -7.20363979e-01 -2.66718061e-01 -1.08328071e+00
  1.09421969e+00 -1.08328071e+00  4.59115408e-01  4.59115408e-01
  5.46948979e-03  1.86927857e-01  3.68386224e-01 -7.20363979e-01
  6.40573775e-01  1.36640724e+00  1.27567806e+00  9.12761326e-01
 -9.01822346e-01 -1.75988877e-01 -1.17400990e+00 -8.52596938e-02
  3.68386224e-01 -1.35546826e+00 -9.92551530e-01  1.09421969e+00
 -3.57447245e-01 -4.48176428e-01 -8.52596938e-02 -1.26473908e+00
  3.68386224e-01 -3.57447245e-01 -2.66718061e-01  1.86927857e-01
 -8.52596938e-02 -9.92551530e-01  1.86927857e-01 -1.26473908e+00
 -5.38905612e-01 -7.20363979e-01 -1.08328071e+00  1.09421969e+00
 -1.17400990e+00  6.40573775e-01]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:,cont_col] = (df.loc[:,cont_col] - df.loc[:,cont_col].mean()) / df.loc[:,cont_col].std()
/tmp/ipython-input-1231680150.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 4.34424689e-02 -1.70666842e+00 -8.31612977e-01  1.58520683e+00
  9.60167222e-01  1.21018306e+00  4.60135538e-01  5.85143459e-01
 -8.15654519e-02  2.51789004e-01 -3.98961450e-02  1.68450390e-01
 -2.89911987e-01  1.00183653e+00  5.43474152e-01  1.04350584e+00
  7.93489994e-01  4.60135538e-01 -4.14919907e-01  9.18497915e-01
 -2.06573373e-01  5.43474152e-01  4.60135538e-01  1.00183653e+00
 -7.06605056e-01  3.76796925e-01  9.60167222e-01 -1.45665258e+00
  9.18497915e-01 -1.45665258e+00  8.51117759e-02  4.60135538e-01
  3.76796925e-01  5.01804845e-01  1.25185237e+00  1.21018306e+00
 -1.20663674e+00 -1.53999120e+00 -7.06605056e-01 -4.98258521e-01
 -1.45665258e+00  1.21018306e+00  5.43474152e-01  3.35127618e-01
  8.35159301e-01  6.68482073e-01 -1.08162882e+00 -8.73282284e-01
  3.35127618e-01  1.26781083e-01  7.93489994e-01 -3.73250601e-01
  1.68450390e-01  1.62687613e+00 -2.99841694e+00 -1.66499912e+00
  5.85143459e-01  3.76796925e-01  1.26781083e-01 -9.98290205e-01
 -2.89911987e-01  4.60135538e-01 -7.48274363e-01  8.76828608e-01
 -1.49832189e+00 -2.89911987e-01  2.51789004e-01  6.68482073e-01
 -3.73250601e-01 -8.15654519e-02 -3.98961450e-02  5.85143459e-01
 -2.08169219e+00  3.76796925e-01  1.16851376e+00  8.51117759e-02
 -3.31581294e-01 -2.89911987e-01  1.29352168e+00 -1.58166050e+00
 -3.98961450e-02 -2.48242680e-01  1.37686029e+00  4.34424689e-02
  9.60167222e-01  1.29352168e+00  2.93458311e-01 -1.41498327e+00
  4.60135538e-01  1.77316200e-03  8.51117759e-02 -1.64904066e-01
 -2.79007040e+00 -2.95674763e+00  9.60167222e-01  5.01804845e-01
 -2.89911987e-01  3.35127618e-01  3.76796925e-01  1.54353752e+00
  1.50186821e+00  1.04350584e+00  4.18466231e-01 -7.89943670e-01
 -4.14919907e-01  2.93458311e-01  5.43474152e-01  4.34424689e-02
 -3.73250601e-01 -3.73250601e-01 -1.23234759e-01 -2.06573373e-01
  1.71021475e+00 -5.39927828e-01 -2.16503080e+00 -7.06605056e-01
  6.68482073e-01  1.37686029e+00 -7.06605056e-01 -9.14951591e-01
  4.34424689e-02  2.10119697e-01 -2.48242680e-01 -1.58166050e+00
  1.04350584e+00  1.08517514e+00 -6.64935749e-01 -9.56620898e-01
  8.76828608e-01  5.85143459e-01 -8.15654519e-02  2.10119697e-01
  2.21024643e+00  1.54353752e+00  6.68482073e-01  5.01804845e-01
 -9.98290205e-01 -1.91501496e+00 -7.89943670e-01  7.10151380e-01
  6.26812766e-01  4.18466231e-01  1.46019891e+00 -7.48274363e-01
  2.10119697e-01  1.26781083e-01 -1.03995951e+00  1.25185237e+00
  8.76828608e-01  4.60135538e-01  1.21018306e+00 -1.12329813e+00
  4.60135538e-01 -1.64904066e-01 -2.20670011e+00 -1.66499912e+00
  1.00183653e+00  9.18497915e-01  8.76828608e-01  8.51117759e-02
  2.93458311e-01  5.43474152e-01  3.76796925e-01 -1.12329813e+00
  1.08517514e+00  7.93489994e-01  8.35159301e-01  4.18466231e-01
  2.93458311e-01 -4.56589214e-01 -1.53999120e+00 -1.58166050e+00
 -2.48242680e-01  3.35127618e-01 -7.06605056e-01 -2.54005456e+00
 -8.15654519e-02 -1.83167634e+00  5.43474152e-01  1.00183653e+00
  7.10151380e-01  4.34424689e-02  1.21018306e+00 -1.64904066e-01
  5.01804845e-01  1.25185237e+00  1.87689197e+00 -1.20663674e+00
  1.91856128e+00 -1.23234759e-01  5.85143459e-01 -1.12329813e+00
 -2.48242680e-01 -1.79000704e+00 -1.41498327e+00 -9.98290205e-01
 -7.48274363e-01  1.26781083e-01  5.43474152e-01 -9.98290205e-01
  4.18466231e-01  2.10119697e-01  1.00183653e+00 -6.64935749e-01
  5.01804845e-01 -8.15654519e-02 -7.89943670e-01 -9.56620898e-01
  2.51789004e-01  2.10119697e-01  8.76828608e-01  1.37686029e+00
  7.93489994e-01  6.68482073e-01  4.60135538e-01  5.43474152e-01
  9.60167222e-01  1.26781083e-01 -1.12329813e+00  1.37686029e+00

In [ ]:
df.loc[:,cont_col].mean()

V3    -1.354315e-16
V10    1.606280e-16
V12   -6.299138e-18
V14    1.007862e-16
V15    3.779483e-17
V20   -1.259828e-17
V21   -7.558965e-17
V29   -1.070853e-16
V30   -5.039310e-17
V31    6.299138e-17
V32   -2.519655e-17
V33   -3.779483e-17
V34   -3.622004e-16
V35    8.818793e-17
V36   -2.283437e-16
V37    4.409396e-17
V40    2.393672e-16
V43    8.818793e-17
V55    5.669224e-17
V56   -6.299138e-18
dtype: float64